/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Avoid page moving because of the scrollbar */
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: black;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 17px;
  font-size: 1.2em;
}

li a:hover {
  color: #b1663c;
  cursor: pointer;
}
#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 8em;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 2em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 60px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form,
#connexion form {
  text-align: left;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#contact input,
#connexion input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#connexion label {
  margin: 2em 0 1em 0;
}
#contact textarea,
#connexion textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

input[type="submit"]:active {
  background-color: #0e2f28;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Buttons */

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  font-family: "Syne";
  font-weight: 700;
  font-size: 17px;
  color: #1d6154;
  background-color: white;
  border: solid 1px;
  border-radius: 18px;
  padding: 9px 15px 9px 15px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  color: white;
  background-color: #1d6154;
}

#connexion h2 {
  display: flex;
  justify-content: center;
}

#connexion {
  display: block;
  justify-content: center;
  align-items: center;
  height: 850px;
  width: 50%;
  margin: auto;
}

#connexion [type="submit"] {
  margin-top: 50px;
}

#connexion [type="submit"]:active {
  background-color: #0e2f28;
}

#formCo form {
  width: 100%;
}

#connexion a {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 2px;
  /* text-underline-offset ne fonctionne pas sur Firefox Android */
}

.error-message {
  display: none;
  color: red;
  margin-top: 10px;
}

/*************************************************************************************
********************************************************************* Mode édition **/

i {
  font-size: 17px;
}

#logout {
  display: none;
}

.editionMode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  gap: 8px;
  height: 60px;
  font-size: 13px;
  color: white;
  background-color: black;
}

.marginHeader {
  margin-top: 90px;
}

.mesProjets {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

#mesProjets h2 {
  justify-content: flex-end;
  text-align: right;
  width: 59%;
  margin: 0;

}

.modifierProjets {
  width: 41%;
  padding-top: 3px;
  /* display: none; */
}

.modifierProjets i {
  font-size: 16px;
  margin-left: 15px;
}

.modifierProjets button {
  font-family: "Work Sans";
  font-size: 13px;
  color: black;
  border: none;
  padding-left: 7px;
}

.modifierProjets button:focus {
  color: black;
  background-color: transparent;
}

/* MADA MADA */

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fefefe;
  padding: 30px;
  border-radius: 10px;
  width: 660px;
  height: 730px;
  margin-top: 3%;
}

.modalContent h2 {
  font-family: Work Sans;
  font-weight: 100;
  color: black;
  font-size: 27px;
  margin: 40px 0px 50px 0px;
}

.divButton {
  display: flex;
  width: 95%;
  position: relative;
}

.divButton i {
  font-size: 25px;
}

#back {
  display: none;
  position: absolute;
  cursor: pointer;
}

#closeBtn {
  display: flex;
  position: absolute;
  left: 97%;
  cursor: pointer;
}

.photoList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 77%;
  height: 470px;
  gap: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b3b3b3;
  overflow-y: auto;
}

.modalContent button {
  display: block;
  font-size: 15px;
  color: white;
  background-color: #1d6154;
  width: 260px;
  margin-top: 35px;
}

button:active {
  color: white;
  background-color: #0e2f28;
}

.image-wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 120px;
}

.image-wrapper img {
  display: block;
  width: 82px;
  height: 120px;
  object-fit: fill;
  padding-bottom: 17px;
}

#deleteImgBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -28px;
  right: 8px;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 23px;
  height: 20px;
  border-radius: 0;
  border-radius: 3px;
}

/******************************************************************* FORMULAIRE ALL */
#formAjoutPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/******************************************************************* DIV AJOUT PHOTOS */

.divAjoutPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 205px;
  border-radius: 5px;
  background: #e8f1f6;
  margin-bottom: 5px;
}

.divAjoutPhoto span {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 22px 0px 13px 0px;
}

.divAjoutPhoto i {
  font-size: 80px;
  color: #b9c5cc;
}

.divUploadFile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38%;
  height: 43px;
  border-radius: 20px;
  color: #306685;
  background-color: #cbd6dc;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
#file {
  display: none;
}

/********************************************************************* DIV FORMULAIRES */

.divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.divForm label {
  display: flex;
  width: 100%;
  font-size: 17px;
  margin-top: 23px;
}

#inputTitle,
#cat {
  display: flex;
  width: 100%;
  height: 55px;
  padding-left: 25px;
  margin-top: 10px;
  font-family: "Work Sans";
  font-size: 16px;
  color: #444444;
  border: none;
  box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.08);
}

#cat {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
  background-repeat: no-repeat;
  background-position: right 30px top 50%;
  background-size: 10px;
}

#inputTitle:focus,
#cat:focus {
  outline: none;
}

.divBorder {
  margin-top: 49px;
  width: 100%;
  height: 1px;
  background: #b3b3b3;
}

#btnValider {
  background-color: #a7a7a7;
}

/* boop */

.uploadImagePreview {
  width: 36%;
  height: 100%;
  object-fit: cover;
}

#photoList::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
 
#photoList::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
 
#photoList::-webkit-scrollbar-thumb {
	background-color: #a1a1a1;

}

.btnValiderColor {
  background-color: #1d6154 !important;
  transition: 1s;
}

/* À modifier : le h2 "Mes Projets" n'est pas centré correctement
à cause de la div rajoutée "modifierProjets" */
/* Position relative pour le -modifier
/* scroll barre overflow